server:
  port: 8080
  shutdown: graceful

spring:
  application:
    name: ha-springboot
  lifecycle:
    timeout-per-shutdown-phase: 30s

management:
  server:
    port: 9090
    base-path: /
  endpoints:
    web:
      exposure:
        include: ["health", "prometheus", "info", "metrics", "jfr", "zipkin"]
  observations:
    tracing:
      enabled: true # 4.0 强制开启追踪观察
  tracing:
    sampling:
      probability: 1.0 # 每一个请求都记录
    propagation:
      type: ["W3C", "B3"] # 确保多协议兼容
    export:
      zipkin:
        endpoint: "http://zipkin:9411/api/v2/spans"
  endpoint:
    prometheus:
      enabled: true # 确保这个端点是启用的
    health:
      show-details: always
      probes:
        enabled: true

arthas:
  # 这里的 AgentId 会在 SkyWalking 里也非常有用，方便对应
  agent-id: ${spring.application.name}
  # 即使集成进去，默认也可以设为 false，需要时通过配置中心热改开启
  enabled: true
  # 如果你有多个实例，可以配置 Tunnel Server 统一管理
  tunnel-server: ws://arthas-tunnel-server:7777/ws

# 关键：修改日志格式，让每一行日志都带上 [服务名, TraceId, SpanId]
logging:
  pattern:
    level: "%5p [${spring.application.name:ha-springboot},%X{traceId:-},%X{spanId:-}]"

