server:
  port: 8080
  shutdown: graceful

spring:
  application:
    name: ha-springboot
  lifecycle:
    timeout-per-shutdown-phase: 30s

management:
  server:
    port: 9090
    base-path: /
  endpoints:
    web:
      exposure:
        include: ["health", "prometheus", "info", "metrics", "jfr", "zipkin"]
  tracing:
    enabled: true
    sampling:
      # 采样率：1.0 表示记录所有请求。生产环境建议 0.1 (10%)
      probability: 1.0
  zipkin:
    tracing:
      # Zipkin 服务端地址，稍后我们用 Docker 启动
      endpoint: "http://zipkin:9411/api/v2/spans"
  endpoint:
    prometheus:
      enabled: true # 确保这个端点是启用的
    health:
      show-details: always
      probes:
        enabled: true

# 关键：修改日志格式，让每一行日志都带上 [服务名, TraceId, SpanId]
logging:
  pattern:
    level: "%5p [${spring.application.name:ha-springboot},%X{traceId:-},%X{spanId:-}]"

